$price-map: (
        "Paris": 10,
        "Rome": 20,
        "Bydgoszcz": -3
);

@each $city, $price in $price-map {
  .tripprice#{$city} {
    font-size: pricegouging($price, $base-font-size) * 1px;
    color: $price-color;
  }
}
